* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #333;
}

h1, h2, h3 {
  font-weight: 200;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

a {
  color: #fdfdfd;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.menu {
  position: relative;
}

.menu__button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background: #179258;
  cursor: pointer;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  z-index: 2;
}

.menu__button--show {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -450px;
  left: 0;
  right: 0;
  padding: 50px;
  background: #179258;
  z-index: 1;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.menu__container--active {
  position: fixed;
  top: 0;
}

.menu__item {
  text-align: center;
  line-height: 2;
}

.menu__link {
  font-size: 2.4rem;
}

.menu__social-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  width: 40%;
}

.icon {
  display: block;
  width: 48px;
  height: 48px;
  background-size: cover;
}

.icon--instagram {
  background-image: url(../img/icons/instagram.png);
}

.icon--facebook {
  background-image: url(../img/icons/facebook.png);
}

.icon--menu {
  background-image: url(../img/icons/menu.png);
}

.subpage-header {
  width: 100%;
  height: 60vh;
}

.subpage-header--menu {
  background: url("../img/menu-sm.jpg") no-repeat center center/cover;
}

.subpage-header--party {
  background: url("../img/party-sm.jpg") no-repeat center center/cover;
}

.subpage-header--reservation {
  background: url("../img/reservation-sm.jpg") no-repeat center center/cover;
}

.form {
  padding: 40px 10px;
}

.form__container {
  margin-top: 40px;
}

.form__input, .form__textarea, .form__select {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 0 10px;
  width: 100%;
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  background-color: #fdfdfd;
  color: #333;
  font-size: 2rem;
  -webkit-box-shadow: 1px 1px 2px #b3b3b3;
          box-shadow: 1px 1px 2px #b3b3b3;
  outline: none;
}

.form__textarea {
  font-family: 'Lato', sans-serif;
  height: 150px;
  resize: none;
  color: #333;
}

.form__label {
  font-size: 1.8rem;
  float: left;
}

.form__button {
  border: 0;
  color: #fdfdfd;
}

.form__input:valid, .form__select:valid {
  -webkit-box-shadow: 1px 1px 2px #179258;
          box-shadow: 1px 1px 2px #179258;
}

.form__input:invalid, .form__input:invalid {
  -webkit-box-shadow: 1px 1px 2px #bb2d1a;
          box-shadow: 1px 1px 2px #bb2d1a;
}

.footer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 1.8rem;
  background-color: #179258;
  cursor: pointer;
}

.contact {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact__logo {
  width: 250px;
  margin: 0 auto;
}

.contact__list {
  text-align: center;
}

.contact__item {
  font-size: 1.8rem;
  line-height: 1.6;
}

.subpage-title {
  font-size: 3.6rem;
  text-align: center;
  font-weight: 200;
  padding: 25px;
}

.showcase {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../img/main-bg-md.jpg") no-repeat center center/cover;
}

.showcase__container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.showcase__logo {
  margin: 0 auto;
  width: 250px;
}

.showcase__title {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  color: #4d4040;
}

.article {
  text-align: center;
  padding: 50px 10px;
}

.article__title {
  padding: 10px;
}

.article__lead {
  margin-bottom: 10px;
}

.article__small-text {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.bg-img {
  height: 300px;
  width: 100%;
}

.bg-img--about-us {
  background: url("../img/menu-sm.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

.bg-img--philosophy {
  background: url("../img/vegetable-sm.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

.bg-img--our-beers {
  background: url("../img/beer-sm.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

.restaurant-menu {
  text-align: center;
  padding: 10px;
}

.restaurant-menu__type-of-dish {
  margin-bottom: 40px;
}

.restaurant-menu__type-of-dish-title {
  font-size: 3rem;
  color: #333;
}

.restaurant-menu__dish-box {
  padding: 10px;
}

.restaurant-menu__dish-name {
  margin-bottom: 5px;
}

.restaurant-menu__dish-price {
  font-size: 1.6rem;
  color: #179258;
}

.party {
  text-align: center;
}

.party__header {
  padding: 10px;
  margin-bottom: 60px;
}

.party__article {
  padding: 60px 10px;
  background-color: #179258;
}

.party__title {
  color: #fdfdfd;
  margin-bottom: 20px;
}

.party__lead--white-text {
  color: #fdfdfd;
}

.party__seets {
  margin-top: 40px;
  font-size: 8rem;
  color: #fdfdfd;
}

.party__seets-title {
  color: #fdfdfd;
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.party__small-text {
  padding: 0 20px;
  font-size: 1.6em;
  color: #fdfdfd;
}

.reservation {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */