/* Utilities */
.container{
  padding: 60px 40px 60px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.content-center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}
.primary-header{
  position: relative;
  display: inline-block;
  font-size: 3.2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 200;
}
.primary-header::before,
.primary-header::after{
  content: '';
  position: absolute;
  top: 60%;
  width: 50px;
  height: 1px;
  background-color: #ddd;
}
.primary-header::before{
  left: -54px;
}
.primary-header::after{
  right: -54px;
}
.logo{
  width: 250px;
}
.lead{
  font-size: 2rem;
  margin-bottom: 30px;
}
.small-text{
  font-size: 1.6rem;
}

.btn{
  display: inline-block;
  padding: 20px 30px;
  width: 250px;
  background-color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
}

.text-center{
  text-align: center;
}
.bg-img{
  position: relative;
  height: 300px;
}
.sub-page{
  position: relative;
  height: 65vh;
}

/* Media */

/* Phone */
@media (min-width: 940px){
  .container{
    padding: 80px 80px;
  }
.primary-header::before,
.primary-header::after{
  width: 150px;
}
  .primary-header::before{
    left: -158px;
  }
  .primary-header::after{
    right: -158px;
  }
}
