.showcase{
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../img/main-bg-md.jpg") no-repeat center center/cover;

  &__container{
    @include position-center;
    @include media(sm){
      padding: 60px;
    }

  } 

  &__logo{
    margin: 0 auto;
    width: 250px;
    @include media(sm){
      width: 200px;
    }
    @include media(lg){
      width: 500px;
    }

  }

  &__title{
    text-align: center;
    font-weight: 200;
    font-style: italic;
    color: $brown;
  }
}
.article{
  text-align: center;
  padding: 50px 10px;
  @include media(sm){
    width: 600px;
    margin: 0 auto;
  }
  &__title{
    padding: 10px;
    @include media(md){
      font-size:4rem ;
    }
  }

  &__lead{
    margin-bottom: 10px;
  }
  &__small-text{
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
}

.bg-img{
  height: 300px;
  width: 100%;
  &--about-us{
    background: url("../img/menu-sm.jpg") no-repeat center center/cover;
    background-attachment: fixed;
  }
  &--philosophy{
    background: url("../img/vegetable-sm.jpg") no-repeat center center/cover;
    background-attachment: fixed;
  }
  &--our-beers{
    background: url("../img/beer-sm.jpg") no-repeat center center/cover;
    background-attachment: fixed;
  }
}