.restaurant-menu{
  text-align: center;
  padding: 10px;
&__type-of-dish{
  margin-bottom: 40px;
}
&__type-of-dish-title{
  font-size: 3rem;
  color: $greey;
}
&__dish-box{
padding: 10px;
}
&__dish-name{
margin-bottom: 5px;
}
&__dish-price{
font-size: 1.6rem;
color: $primary-color;
}
}