.party{
  text-align: center;
  &__header{
    padding: 10px;
    margin-bottom: 60px;
    @include media(sm){
      width: 500px;
      margin: 0 auto 60px;
    }
    @include media(lg){
      width: 900px;
      margin: 0 auto 60px;
    }
  }
  &__article{
    padding: 60px 10px;
    background-color: $primary-color;
  }
  &__container{
    @include media(sm){
      width: 500px;
      margin: 0 auto;
    }
    @include media(lg){
      width: 900px;
      margin: 0 auto;
    }
  }
  &__title{
    color: $white;
    margin-bottom: 20px;
    font-size: 3.4rem;
  }
  &__lead{
    @include media(md){
      font-size:2rem ;
      line-height: 1.6;
    }
  }
  &__lead--white-text{
    color: $white;
  }
  &__seets{
    margin-top: 40px;
    font-size: 8rem;
    color: $white;
    &-title{
      color: $white;
      font-size: 2.6rem;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
  &__small-text{
    padding:0 20px;
    font-size: 1.6em;
    color: $white;
    @include media(md){
      font-size:1.8rem ;
    }
  }
}