.subpage-header{
  width: 100%;
  height: 60vh;
  &--menu{
    background:url('../img/menu-sm.jpg') no-repeat center center/cover;
  }
  &--party{
    background:url('../img/party-sm.jpg') no-repeat center center/cover;
  }
  &--reservation{
    background:url('../img/reservation-sm.jpg') no-repeat center center/cover;
  }
}