.button{
  display: inline-block;
  padding: 10px 25px;
  font-size: 1.8rem;
  background-color: $primary-color;
  cursor: pointer;
  transition: .2s ease-in;
  @include media(md){
    font-size: 2rem;
    padding: 15px 30px;
  }
  @include media(lg){
    &:hover{
      background:$white;
      color: $primary-color;
      box-shadow: 0px 0px 2px 2px $primary-color;
    }
  }
}