.contact{
  text-align: center;
  @include position-center;
  &--horizontal{
    @include media(sm){
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px;
    }
    @include media(md){
      width: 600px;
    }
  }
  @include media(lg){
    display: block;
  }

  &__logo{
    width: 200px;
    margin: 0 auto;
    &--horizontal{
      @include media(sm){
        margin: 0;
      } 
    }
    @include media(lg){
      margin: 0 auto;
    }
  }
  &__list{
    margin-bottom: 10px;
  }
  &__item{
    font-size: 1.8rem;
    line-height: 1.6;
    @include media(lg){
      font-size: 2rem;
    }
  }
  &__button{
    margin-top:10px;
  }
}