@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway:wght@200&family=Roboto:wght@300&display=swap');
html{
  font-size: 10px;
  font-family: $paragraph-font;
}
p{
  font-size: 1.8rem;
  line-height: 1.4;
  color: $greey;
}
h1,h2,h3{
  font-family: $titles-font;
  font-weight: 200;
}
h1{
  font-size: 3.4rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2.6rem;
}
a{
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
}
ul{
  list-style: none;
}
