html{
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  font-size: 1.8rem;
  line-height: 1.4;
}
h1{
  font-size: 3.2rem;
}
a{
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
}
ul{
  list-style: none;
}
